<form
    [formGroup]="fg"
    (ngSubmit)="publicar(
        fg.controls['titulo'].value,
        fg.controls['descripcion'].value,
        fg.controls['url'].value,
        fg.controls['imagen'].value
    )">
    <div class="form-group">
        <label for="titulo">Título</label>
        <input type="text" class="form-control" id="titulo" placeholder="Ingresa el título..."
            [formControl]="fg.controls['titulo']">
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
        <div *ngIf="fg.controls['titulo'].hasError('required')"
            class="alert alert-danger" role="alert">El Título es obligatorio!
        </div>
        <div *ngIf="fg.controls['titulo'].hasError('invalidNombre')"
            class="alert alert-danger" role="alert">El Título es invalido!
        </div>
        <div *ngIf="fg.controls['titulo'].hasError('minLongTitulo')"
            class="alert alert-danger" role="alert">El Título debe tener al menos {{minLongitud }} caracteres!
        </div>
    </div>
    <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input type="text" class="form-control" id="descripcion" placeholder="Ingresa la descripción..."
            [formControl]="fg.controls['descripcion']">
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
        <div *ngIf="fg.controls['descripcion'].hasError('required')"
            class="alert alert-danger" role="alert">La descripción es obligatoria!
        </div>
        <div *ngIf="fg.controls['descripcion'].hasError('minLongDesc')"
            class="alert alert-danger" role="alert">La descripción debe tener al menos {{minLongitud }} caracteres!
        </div>
    </div>
    <div class="form-group">
        <label for="url">Url</label>
        <input type="text" class="form-control" id="url" placeholder="Igresa la URL..."
        [formControl]="fg.controls['url']">
    </div>
    <div class="form-group">
        <label for="imagen">Url de la imagen</label>
        <input type="text" class="form-control" id="imagen" placeholder="Ingresa la URL de la imagen..."
        [formControl]="fg.controls['imagen']">
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Publicar!</button>
</form>
