<div class="container content">
    <h1 class="mb-0">Clasificados publicados</h1>
    <div class="row row-flex">
        <app-clasificado
            *ngFor="let c of all; let i=index"
            [clasificado]="c"
            [idx]="i"
            (onClicked)='elegido(c)'
        ></app-clasificado>
    </div>
    <hr class="mb-5">
    <div class="row row-flex">
        <h4>Actividad</h4>
        <ul>
            <li *ngFor="let u of updates;">{{u}}</li>
        </ul>
    </div>
    <hr class="mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login with validation feedback -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Publicar clasificado</h3>
                </div>
                <div class="card-body">
                    <app-form-clasificado (onItemAdded)="agregado($event)"></app-form-clasificado>
                </div>
            </div>
        </div>
    </div>
</div>
