<header>
    <div class="container">
        <div class="navLinks">
            <a [routerLink]="['/home']">Inicio</a>
            <a [routerLink]="['/clasificado']">Clasificado</a>
        </div>
    </div>
    Fecha: {{time | async }}
</header>
<hr class="mb-5">
<section>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</section>
