<div class="col-md-12">
    <div class="card-content">
        <div class="card-img">
            <img src="{{clasificado.urlImagen" alt="Imagen de {{clasificado.urlImagen}}">
            <span><h4>{{position}}</h4></span>
        </div>
        <div class="card-desc">
            <h2>{{clasificado.titulo}}</h2>
            <p><span *ngIf="clasificado.isSelected()" class="badge badge-success"><span ngNonBindable>{{PREFERIDO}}</span></span></p>
            <p>{{clasificado.descripcion}}</p>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md">
                    <a href="#" (click)="voteUp()"><i class="material-icons md-14">thumb_up</i></a>
                </div>
                <div class="col-md">>
                    <a href="#" class="btn btn-card" (click)="destacado()">Destacar!!</a>
                </div>
                <div class="col-md">
                    <a href="#" (click)="voteDown()"><i class="material-icons md-18">thumb_down</i></a>
                </div>
                <div class="col-md">
                    <a [routerLink]="['/clasificado', clasificado.id]">Ver clasificado</a>
                </div>
            </div>
        </div>
    </div>
</div>
